@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {

  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #f4f4f4;
}

.image {
  position: relative;
  z-index: 99999;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-color: blue;
  padding: 3px;
  margin-bottom: 10px;

}

.image .profile-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid blue;
}

.profile-card {
  max-width: 370px;
  width: 100%;
  background-color: #f4f4f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  padding: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.profile-card::before {
  content: "";
  border-radius: 24px 24px 0 0;
  top: 0;
  left: 0;
  position: absolute;
  height: 36%;
  width: 100%;
  background-color: #4070f4;

}

.profile-card .text-data {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #333;
}

.text-data .name {
  font-size: 22px;
  font-weight: 400;
}

.text-data .job {
  font-size: 22px;
  font-weight: 400;
}

.profile-card .media-bottom {
  display: flex;
  align-items: center;
  margin-top: 15px;

}

.media-bottom .link {
  display: flex;
  font-size: 18px;
  /* make icon visible */
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #4070f4;
  text-decoration: none;
}

.link:hover {
  color: #145dbf;
  /* darker hover */
}

.buttons {
  display: flex;
  align-items: center;
  margin: 25px;
}

.buttons .button {
  color: #f4f4f4;
  font-size: 14px;
  border: none;
  font-weight: 400;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons .button:hover {
  background-color: #0e4bf1;
}

.profile-card .analytics {
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding-bottom: 12px;
}

.analytics .data {
  display: flex;
  align-items: center;
  color: #333;
  padding: 0 20px;
  border-right: 2px solid #e7e7e7;
}

.data:last-child {
  border-right: none;
}

.data i {
  font-size: 18px;
  margin-right: 6px;
}